<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>this is home page</title>
    <!-- <link rel="stylesheet" th:href="@{/css/about.css}" /> -->
  </head>
  <body>
    <main>
      <section class="about">
        <div class="content">
          <h2>About ContactNest</h2>
          <p>
            Welcome to ContactNest, your ultimate destination for effortless
            contact management. At ContactNest, we're dedicated to providing you
            with a user-friendly platform that simplifies the way you organize
            and stay connected with your contacts.
          </p>
          <p>
            Our mission is to create a virtual 'nest' where you can securely
            store, categorize, and access all your contacts, ensuring that you
            never miss a beat in your personal or professional relationships.
          </p>
          <p>
            With ContactNest, you can enjoy seamless synchronization across
            devices, intelligent organization features, and intuitive tools
            designed to streamline your contact management experience.
          </p>
          <p>
            Join us at ContactNest and let's revolutionize the way you connect
            with others. Start building your digital nest today and unlock new
            possibilities in efficient contact management.
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
